In [60]:
pip install nltk

Requirement already satisfied: nltk in c:\users\admin\anaconda3\lib\site-packages (3.8.1)
Requirement already satisfied: click in c:\users\admin\anaconda3\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\admin\anaconda3\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\admin\anaconda3\lib\site-packages (from nltk) (2023.10.3)
Requirement already satisfied: tqdm in c:\users\admin\anaconda3\lib\site-packages (from nltk) (4.66.4)
Requirement already satisfied: colorama in c:\users\admin\anaconda3\lib\site-packages (from click->nltk) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [43]:
import pandas as pd
import re

tweets = [
    "This is introduction to NLP",
    "It is likely to be useful, to people",
    "Machine learning is the new electricity",
    "There would be less hype around AI and more action going forward",
    "Python is the best tool!",
    "R is a good language",
    "I like this book",
    "I want more books like this"
    ]

#f_tweets = []
#for t in tweets:
#    f_tweets.append(t.lower())
#f_tweets

# alternative:
f_tweets = [t.lower() for t in tweets]

tweets_df = pd.DataFrame(f_tweets, columns=['tweets'])
tweets_df

# or lower the Dataframe itself:
#df['tweets'] = df['tweets'].str.lower()
#df['tweets'].apply(lambda x: x.lower())

                                              tweets
0                        this is introduction to nlp
1               it is likely to be useful, to people
2            machine learning is the new electricity
3  there would be less hype around ai and more ac...
4                           python is the best tool!
5                               r is a good language
6                                   i like this book
7                        i want more books like this

In [47]:

# --- with REPLACE --------
#f_tweets = [t.lower().replace(',', '').replace('!', '') for t in tweets]


# --- with REGEX ----------
# ^ invert
# \w all characters from a-Z, all numbers, underscore _ (no whitespace!!! -> \s needed)
# \s whitespace

f_tweets = [re.sub(r'[^\w\s]', '', t.lower()) for t in tweets]
f_tweets

tweets_df = pd.DataFrame(f_tweets, columns=['tweets'])
tweets_df

                                              tweets
0                        this is introduction to nlp
1                it is likely to be useful to people
2            machine learning is the new electricity
3  there would be less hype around ai and more ac...
4                            python is the best tool
5                               r is a good language
6                                   i like this book
7                        i want more books like this

### Tokenisieren

In [50]:
# ACHTUNG! Split berücksichtigt keine Satzzeichen

text = "This is the first sentence. This is the second one."  
list_of_words = text.split()  
list_of_words

['This',
 'is',
 'the',
 'first',
 'sentence.',
 'This',
 'is',
 'the',
 'second',
 'one.']

In [68]:
# NLTK berücksichtigt Satzzeichen

from nltk.tokenize import word_tokenize 
import nltk
nltk.download('punkt')

text="Hello there! Welcome to the programming world."
print(word_tokenize(text))

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Admin\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

['Hello', 'there', '!', 'Welcome', 'to', 'the', 'programming', 'world', '.']

In [70]:
tweets_df['tokenized'] = tweets_df['tweets'].apply(word_tokenize)
tweets_df

,tweets,tokenized
0,this is introduction to nlp,"[this, is, introduction, to, nlp]"
1,it is likely to be useful to people,"[it, is, likely, to, be, useful, to, people]"
2,machine learning is the new electricity,"[machine, learning, is, the, new, electricity]"
3,there would be less hype around ai and more ac...,"[there, would, be, less, hype, around, ai, and..."
4,python is the best tool,"[python, is, the, best, tool]"
5,r is a good language,"[r, is, a, good, language]"
6,i like this book,"[i, like, this, book]"
7,i want more books like this,"[i, want, more, books, like, this]"